.bg-custom {
	background-color: #fff !important;
	transition: 0.3s;
	color: gray !important;
}

.bg-custom:hover {
	background-color: #f19e00 !important;
	color: #fff !important;
}

.bg-custom-sm {
	background-color: #f19e00 !important;
	transition: 0.3s;
	color: #fff !important;
}

.bg-custom-sm:hover {
	background-color: #a36b02 !important;
	color: #fff !important;
}

.bg-active {
	background-color: transparent !important;
	transition: 0.3s;
	color: #a36b02 !important;
}

.navbar {
	width: 100%;
}

.link-navbar {
	color: gray !important;
	transition: 0.3s;
}

.link-navbar:hover {
	color: #a36b02 !important;
	transition: 0.3s;
}