body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

form {
  margin: 0 auto;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select {
  width: calc(100% - 10px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  left: 400px;

}


input[type="submit"]:hover {
  background-color: #45a049;
  position: relative;
}

.container {
  width: 500px;
  margin: 50px auto;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: right;
  position: relative;
  top: 50px;
}

.container label,
.container select,
.container input[type="text"],
.container input[type="number"] {
  display: block;
  margin-bottom: 10px;
  width: calc(100% - 20px); /* Mengatur lebar elemen agar rata kiri */
  padding: 5px;
  right: 40px;

}

.container .double-column {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.container .double-column select,
.container .double-column input[type="number"],
.container .double-column input[type="text"] {
  flex-basis: calc(50% - 5px);
}

.form-group {
  margin-bottom: 15px;
}

.double-column-left {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 50px;
}

.double-column-left label,
.double-column-left input,
.double-column-left select {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}

.asd{
  position: relative;
}

/* Gaya Navbar */
.navbar {
  background-color: #f0f0f0; /* Warna latar belakang navbar */
  padding: 10px 0; /* Padding untuk navbar */
}

.a {
  max-width: 1200px; /* Menetapkan lebar maksimum untuk kontainer */
  height: 50PX;
  margin: 0 auto; /* Pusatkan kontainer */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 24px; /* Ukuran font untuk brand/logo */
  color: #333; /* Warna untuk brand/logo */
  text-decoration: none;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline-block;
  margin-left: 20px;
}

.nav-item a {
  text-decoration: none;
  color: #333;
}

